// Colors
$black-color: #191a19;
$gray-color: #85888d;
$white-color: #f5f5f5;
$yellow-color: #fcbf1e;
$green-color: #4e9f3d;
$red-color: #990000;

// Transitions
$transition-100: all 100ms ease;
$transition-200: all 200ms ease;
$transition-300: all 300ms ease;
$transition-400: all 400ms ease;
$transition-500: all 500ms ease;
$transition-600: all 600ms ease;